<% include ../../partials/header %>

<div class="row">

    <form id="form-filter" method="POST"
        style="padding-top: 20px; padding-bottom: 10px; padding-right: 200px; padding-left: 200px; width: 100%;"
        encType="multipart/form-data">
        <div class="card">
            <div class="card-header" style="background-color: wheat;">
                <h1>New Issue</h1>
                <hr>

                <div class="card">
                    <div class="card-body" style="background-color:burlywood;">

                        <div class="row">
                            <div class="col" style="padding-left: 50px;">
                                <label class="form-check-label" for="tracker">
                                    Tracker
                                </label>
                            </div>

                            <div class="col-9" style="padding-right: 50px; padding-left: 50px;">
                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="bug" name="tracker" value="Bug"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="bug">Bug</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="feature" name="tracker" value="Feature"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="feature">Feature</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="support" name="tracker" value="Support"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="support">Support</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="padding-left: 50px;">
                                <label class="form-check-label" for="subject">
                                    Subject
                                </label>
                            </div>
                            <div class="col-9" style="padding-right: 50px; padding-left: 50px;">
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" id="subject"
                                        placeholder="Subject Title">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="padding-left: 50px;">
                                <label class="form-check-label" for="description">
                                    Description
                                </label>
                            </div>
                            <div class="col-9" style="padding-right: 50px; padding-left: 50px;">
                                <div class="form-group">
                                    <textarea class="form-control" id="description" rows="3" name="description"
                                        placeholder="Description"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="padding-left: 50px;">
                                <label class="form-check-label" for="status">
                                    Status
                                </label>
                            </div>
                            <div class="col-9" style="padding-right: 50px; padding-left: 50px;">
                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="new" name="status" value="New"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="new">New</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="inProgress" name="status" value="In Progress"
                                            class="custom-control-input" disabled>
                                        <label class="custom-control-label" for="inProgress">In Progress</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="resolved" name="status" value="Resolved"
                                            class="custom-control-input" disabled>
                                        <label class="custom-control-label" for="resolved">Resolved</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="feedback" name="status" value="Feedback"
                                            class="custom-control-input" disabled>
                                        <label class="custom-control-label" for="feedback">Feedback</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="closed" name="status" value="Closed"
                                            class="custom-control-input" disabled>
                                        <label class="custom-control-label" for="closed">Closed</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="rejected" name="status" value="Rejected"
                                            class="custom-control-input" disabled>
                                        <label class="custom-control-label" for="rejected">Rejected</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="padding-left: 50px;">
                                <label class="form-check-label" for="priority">
                                    Priority
                                </label>
                            </div>
                            <div class="col-9" style="padding-right: 50px; padding-left: 50px;">
                                <div class="form-group">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="normal" name="priority" value="Normal"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="normal">Normal</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="high" name="priority" value="High"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="high">High</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="urgent" name="priority" value="Urgent"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="urgent">Urgent</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="immediate" name="priority" value="Immediate"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="immediate">Immediate</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="padding-left: 50px;">
                                <label class="form-check-label" for="assignee">
                                    Assignee
                                </label>
                            </div>
                            <div class="col-9" style="padding-right: 50px; padding-left: 50px;">
                                <div class="form-group">
                                    <select name="assignee" id="assignee" class="custom-select custom-select"
                                        required="">
                                        <option selected disabled>Choose the Assignee ...</option>
                                        <% members.forEach(item => {%>
                                        <option value="<%= item.userid %>"><%= item.fullname %></option>
                                        <%})%>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="padding-left: 50px;">
                                <label class="form-check-label" for="startDate">
                                    Start Date
                                </label>
                            </div>
                            <div class="col-9" style="padding-right: 50px; padding-left: 50px;">
                                <div class="form-group">
                                    <input type="date" name="startDate" class="form-control" id="startDate"
                                        placeholder="Start Date">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="padding-left: 50px;">
                                <label class="form-check-label" for="dueDate">
                                    Due Date
                                </label>
                            </div>
                            <div class="col-9" style="padding-right: 50px; padding-left: 50px;">
                                <div class="form-group">
                                    <input type="date" name="dueDate" class="form-control" id="dueDate"
                                        placeholder="Due Date">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="padding-left: 50px;">
                                <label class="form-check-label" for="estimatedTime">
                                    Estimated Time
                                </label>
                            </div>
                            <div class="col-9" style="padding-right: 50px; padding-left: 50px;">
                                <div class="form-group">
                                    <input type="number" name="estimatedTime" class="form-control" id="estimatedTime"
                                        placeholder="Estimated Time">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="padding-left: 50px;">
                                <label class="form-check-label" for="done">
                                    Work Done
                                </label>
                            </div>
                            <div class="col-9" style="padding-right: 50px; padding-left: 50px;">
                                <div class="form-group">
                                    <select name="done" id="done" class="custom-select custom-select">
                                        <option selected disabled>Choose the Percentage ...</option>
                                        <option value="0">0%</option>
                                        <option value="10">10%</option>
                                        <option value="20">20%</option>
                                        <option value="30">30%</option>
                                        <option value="40">40%</option>
                                        <option value="50">50%</option>
                                        <option value="60">60%</option>
                                        <option value="70">70%</option>
                                        <option value="80">80%</option>
                                        <option value="90">90%</option>
                                        <option value="100">100%</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="padding-left: 50px;">
                                <label class="form-check-label" for="files">
                                    File
                                </label>
                            </div>
                            <div class="col-9" style="padding-right: 50px; padding-left: 50px;">
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" name="file" class="custom-file-input" id="file">
                                        <label class="custom-file-label" for="inputFile">Choose file</label>
                                    </div>
                                </div>
                            </div>


                            <div class="form-check form-check-inline" style="padding-left: 50px;">
                                <button class="btn btn-primary">Add Issue</button></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
</div>
</form>

</div>

<% include ../../partials/footer %>