<div class="col-2">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/projects/<%= id %>/overview/">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/<%= id %>/activity/">Activity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/<%= id %>/members/">Member</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects/<%= id %>/issues/">Issues</a>
    </li>
  </ul>
</div>