<div class="col-2">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="../overview/view">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../activity/view">Activity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../members/view">Member</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../issues/view">Issues</a>
    </li>
  </ul>
</div>