<% include ../../partials/header %>

<div class="row">

    <% include ../../partials/sidebar %>

    <form action="" id="form-filter" method="GET" style="padding-inline: 50px;" class="col-10">
        <div class="card">
            <div class="card-header">
                <h2>Activity</h2>
                <hr>

                <div class="card">
                    <div class="card-body">
                        <p>Activity</p>
                        <% activity.forEach(item => {%>
                        <p><%= item.dateactivity %></p>
                        <ul>
                            <li>
                                <%= item.timeactivity %> <%= item.title %>,author:<%= item.authorname %>
                            </li>
                        </ul>
                        <%})%>
                        <div class="card-body">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

</div>

<% include ../../partials/footer %>