<% include ../../partials/header %>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/projects">Projects <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <a href="/logout"><button class="btn btn-outline-success tombol sign-out my-2 my-sm-0">Sign Out</button></a>
</div>
</nav>

</form>

<div class="row">

    <% include ../../partials/sidebar %>

    <form action="" id="form-filter" method="GET" style="padding-inline: 50px;" class="col-10">
        <div class="card">
            <div class="card-header">
                <h2>Activity</h2>
                <hr>

                <div class="card">
                    <div class="card-body">
                        Activity
                        <br>
                        From .... to .....
                        <br>
                        Today
                        <ul>
                            <li>.....</li>
                            <li>.....</li>
                            <li>.....</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </form>


</div>

<% include ../../partials/footer %>