<% include ../../partials/header %>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/projects">Projects <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <a href="/logout"><button class="btn btn-outline-success tombol sign-out my-2 my-sm-0">Sign Out</button></a>
</div>
</nav>

</form>

<div class="row">

    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="side-label-overview" data-toggle="pill" href="#view-overview" role="tab"
                aria-controls="view-overview" aria-selected="true">Overview</a>
            <a class="nav-link" id="side-label-activity" data-toggle="pill" href="../activity/view-activity" role="tab"
                aria-controls="view-activity" aria-selected="false">Activity</a>
            <a class="nav-link" id="side-label-members" data-toggle="pill" href="#view-members" role="tab"
                aria-controls="view-members" aria-selected="false">Members</a>
            <a class="nav-link" id="side-label-issues" data-toggle="pill" href="#view-issues" role="tab"
                aria-controls="view-issues" aria-selected="false">Issues</a>
        </div>
    </div>

    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade" id="view-overview" role="tabpanel" aria-labelledby="view-overview-tab">
                <form action="" id="form-filter" method="GET" style="padding-inline: 50px;">
                    <h1>Overview</h1>
                    <hr>
                    <h3>Library System</h3>

                    <div class="card">
                        <div class="card-body">
                            Issue Tracking :
                            <ul>
                                <li>Bug:...Open/...</li>
                                <li>Feature:...Open/...</li>
                                <li>Support:...Open/...</li>
                            </ul>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="card">
                        <div class="card-body">
                            Members :
                            <ul>
                                <li>...</li>
                                <li>...</li>
                                <li>...</li>
                            </ul>
                        </div>
                    </div>

                </form>
            </div>

            <div class="tab-pane fade" id="view-members" role="tabpanel" aria-labelledby="view-members-tab">
                <% include ../members/list %>
            </div>

            <div class="tab-pane fade" id="view-issues" role="tabpanel" aria-labelledby="view-issues-tab">
                <h1>THIS PAGE IS UNDER CONSTRUCTION !!!</h1>
            </div>
        </div>
    </div>

</div>

<% include ../../partials/footer %>