<% include ../../partials/header %>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/projects">Projects <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <a href="/logout"><button class="btn btn-outline-success tombol sign-out my-2 my-sm-0">Sign Out</button></a>
</div>
</nav>

</form>

<div class="row">

    <% include ../../partials/sidebar %>

    <form action="/projects" id="form-filter" method="GET" style="padding-inline: 50px;" class="col-10">
        <div class="card">
            <div class="card-header">
                <h2>Members</h2>
                <hr>
                <h3>Filters</h3>
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col" style="padding-left: 100px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="cekId" name="checkId">
                            <label class="form-check-label" for="id">
                                ID
                            </label>
                        </div>
                    </div>
                    <div class="col-9" style="padding-right: 200px;">
                        <div class="form-group">
                            <input type="text" name="id" class="form-control" id="id" placeholder="ID">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="padding-left: 100px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="cekName" name="checkName">
                            <label class="form-check-label" for="name">
                                Name
                            </label>
                        </div>
                    </div>
                    <div class="col-9" style="padding-right: 200px;">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="padding-left: 100px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="cekPosition"
                                name="checkPosition">
                            <label class="form-check-label" for="name">
                                Position
                            </label>
                        </div>
                    </div>
                    <div class="col-9" style="padding-right: 200px;">
                        <div class="form-group">
                            <select name="member" id="member" class="custom-select custom-select">
                                <option selected disabled>Choose a member ...</option>

                                <option value=""></option>

                            </select>
                        </div>
                    </div>
                </div>

                <div class="col" style="padding-left: 100px;">
                    <button type="submit" class="btn btn-primary">Search</button></br></br>
                </div>
    </form>

    <form class="form-inline" action="" method="POST" style="padding-left: 15px;">
        <div class="row">
            <label class="form-check-label" for="name">
                <h4>Option Columns</h4>
            </label>

            <div class="form-check form-check-inline" style="padding-left: 70px;">
                <input class="form-check-input" type="checkbox" value="true" id="cekColId" name="checkColId">
                <label class="form-check-label" for="id">
                    ID
                </label>
            </div>
            <div class="form-check form-check-inline" style="padding-left: 20px;">
                <input class="form-check-input" type="checkbox" value="true" id="cekColName" name="checkColName">
                <label class="form-check-label" for="name">
                    Name
                </label>
            </div>
            <div class="form-check form-check-inline" style="padding-left: 20px;">
                <input class="form-check-input" type="checkbox" value="true" id="cekColPosition"
                    name="checkColPosition">
                <label class="form-check-label" for="members">
                    Position
                </label>
            </div>
            <div class="form-check form-check-inline" style="padding-left: 20px;">
                <button class="btn btn-primary">Apply</button></a>
            </div>

        </div>
        </br>
    </form>

    <div class="container" style="padding-top: 20px;"></div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-success"><a href="" style="color: white;">
                            Edit
                        </a></button>
                    <button class="btn btn-danger" onclick="return confirm('Are you sure want to DELETE ?')"><a href=""
                            style="color: white;">
                            Delete
                        </a></button></td>
                </td>
            </tr>
        </tbody>

    </table>

    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="">Previous</a>
            </li>

            <li class=""><a class="page-link" href=""></a>
            </li>

            <li class=""> <a class="page-link disabled" href="">Next</a>
            </li>
        </ul>
    </nav>

    <a href="" <button class="btn btn-primary">ADD</button> </a>

</div>

</div>
</div>


<% include ../../partials/footer %>